$darkGrayishBlue: hsl(217, 19%, 35%);
$darkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

$bg: $lightGrayishBlue;
$cardBg: #fff;
$color: $darkGrayishBlue;

$mobileWidth: 330px;
$desktopWidth: 1440px;

$mobileBreak: 375px;
$desktopBreak: 1440px;

$fontSize: 13px;

$gap: 30px;

$font: normal 500 $fontSize 'Manrope', sans-serif;
